
<% if session[:user_id] %>
  <% if User.find_by_id(session[:user_id]).is_admin? %>
    <h2>Stats for <%= @user.name %></h2>

    <p>Total posts: <%= @num_posts %></p>

    <p>Total comments: <%= @num_comments %> </p>

    <p>Average comments received per post: <%= @avg_rcvd_comments_per_post %> </p>
  <% end %>
<% end %>

<h1>Posts by <%= @user.name %></h1>

<%= render 'posts/post_table' %>

<%= link_to 'Users', users_path %>
