<p id="notice"><%= notice %></p>

<p>
  <b>Post:</b>
  <%= @post.post %>
</p>
<p>
  <b>By:</b>
  <%= User.find(@post.user_id).name %>
</p>

<h2>Comments</h2>
<% @post.comments.each do |comment| %>
<p>
  <b>Comment:</b>
  <%= comment.comment %>
</p>
<p>
  <b>By:</b>
  <%= User.find(comment.user_id).name %>
</p>

<%= link_to "Delete", post_comment_path(@post, comment), :confirm => "Are you sure?", :method => :delete %>
<% end %>

<% if session[:user_id] %>
<h2>Add a comment:</h2>
<%= render "comments/comment_form"  %>


<%= link_to 'Edit', edit_post_path(@post) %> | <% end %>
<%= link_to 'Back', posts_path %>
