<p id="notice"><%= notice %></p>

<h1><%= User.find(@post.user_id).name %> says: <%= @post.post %></h1>

<br />
<h2>Comments</h2>
<%= render @post.comments  %>

<% if session[:user_id] %>
<h2>Add a comment:</h2>
<%= render "comments/comment_form"  %>
<% end %>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Posts', posts_path %>
